body{
    background-color: bisque;
}
header{
    height: 6em;
    border: 2px solid black;
    background-color: rgb(190, 146, 92);
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
}

#card-box{
    width:70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

article div{
    height: 10em;
    width: 60%;  
}

.container {
  width: 200px;
  height: 250px;
  perspective: 800px;
  margin: 1em;
}

.flipped {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  color: rgb(213, 222, 230);
  /* border: 2px solid black; */
  /* border-radius: 2rem; */

}

.front,
.back {
  height: 100%;
  width: 100%; 
  position: absolute;
  backface-visibility: hidden;
    border-radius: 2rem;
    border: 2px solid black;
}

.front {
  background: rgb(97, 100, 97);
}

.back {
  background-color:rgb(134, 92, 40);
  transform: rotateY(180deg);
  text-align: center;
}